body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.hero{
    display: flex;
    flex-direction: column;
    background: url(./img/bg-img-01.jpg);
    background-position: center top 50%;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    text-align: right;
    align-items: center;
    color: white;
}
.herosec{
    display: flex;
    flex-direction: column;
    max-width: 25em;
    gap: 1.5em;
    text-align: left;
    justify-content: center;
    text-align: left;
    position: relative;
    left: 15em;
}
.herosec h2,
.herosec p,
.herosec a {
    margin: 0;
    padding: 0;
}
.herosec h2{
    font-size: 3em;
}
.herop{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    gap: 1em;
}
.herosec a{
    display: flex;
    border: none;
    background-color: rgba(218, 96, 96, 0.774);
    width: 8em;
    height: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    border-radius: .5em;
}
.herosec a:hover{
    background-color: red;
}
.container{
    display: flex;
    flex-direction: row;
    background:url(./img/bg-img-02.jpg) ;
    background-attachment: fixed;
    background-position: center top ;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2em;
}
.card{
    display: flex;
    flex-direction: column;
    padding-inline: 2em;
    max-width: 15em;
    background-color: rgba(255, 255, 255, 0.719);
    height: 20em;
    text-align: left;
    gap: .9em;
    flex-wrap: wrap;
}
.card h2,
.card p,
.card a{
    margin: 0;
    padding: 0;
}
.card h2{
    display: flex;
    font-size: 2em;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding-top: .9em;
}
.card p{

    font-size: 1em;
}
.card a{
    display: flex;
    border: none;
    width: 10em;
    height: 2em;
    text-decoration: none;
    background-color: rgba(218, 96, 96, 0.774);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    border-radius: .2em;
}
.card a:hover{
    background-color: red;
}
.wrapper{
    display: flex;
    flex-direction: column;
    background: url(./img/bg-img-03.jpg);
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrap{
    position: relative;
    left: 20em;
    flex-wrap: wrap;
    text-wrap: wrap;
}
.wrapp{
    display: flex;
    flex-direction: column;
    max-width: 26em;
    background-color:  rgba(255, 255, 255, 0.678);
    padding-inline: 1em;
    text-align: left;
    justify-content: left;
    align-items: left;
}
.wrapper h2{
    display: flex;
    max-width: 12em;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.678);
    flex-wrap: wrap;
    text-wrap: wrap;
} 
.wrapper p{
    display: flex;
    max-width: 20em;
    font-size: 1.5em;
    height: 10em;
    text-wrap: wrap;
} 
.wrapper a{
    display: flex;
    border: none;
    width: 10em;
    height: 2em;
    text-decoration: none;
    background-color: rgba(218, 96, 96, 0.774);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    border-radius: .2em;
}
.wrap a{
    margin: 1em;
    position: relative;
    left: 7.8em;
}
.cardwrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80em;
    background: url(./img/bg-img-04.jpg) center top / cover fixed;
    background-position: center top;
    padding-inline: 4em;
    gap: 2em;
}
.contain {
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 220, 220, 0.816);
    max-width: 18em;
    text-wrap: wrap;
    flex-wrap: wrap;
    padding-inline: 2em;
}
.contain h2{
    font-size: 2em;
    text-align: left;
    justify-content: left;
    align-items: left;
    color: rgb(11, 145, 100);
}
.imgs{
    display: flex;
    padding-inline: 5em;
    justify-content: center;
    align-items: center;
    background: url(./img/bg-img-05.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}
.cardimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 4em;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 5em;
    background: url(./img/bg-img-06.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.span{
    display: flex;
    flex-direction: row;
    gap: 3em;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.form input{
    display: flex;
    width: 25em;
    height: 2em;
    outline: none;
    border: none;
    
}
.article{
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .herosec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: .5em;
        top: 15em;
        max-width: 25em;
        text-align: left;
        padding-inline: 2em;
    }
    .herosec h2{
    font-size: 3em;
    }
    .herop{
        font-size: 1.3em;
        font-weight: 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .wrap{
        display: flex;
        flex-direction: column;
        position: relative;
        left: auto;
        flex-wrap: wrap;
    }
    .wrap h2{
        flex-wrap: wrap;
        font-size: 1.5em;
    }
    .wrap p{
        font-size: 1em;
    }
    .wrap a{
        position: relative;
        left: auto;
    }
    .cardwrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contain {
        padding-inline: 2em;
    }
    .cardimg{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }
}